!!! 5
html(lang='en')
  head
    title Delorean
    script(src='js/d3.v2.js')
    script(src='js/index.js')
    link(rel='stylesheet', type='text/css', href='css/index.css')
  body
    svg#plays.chart
